<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Price</th>
      <th>Shipping</th>
      <th>Quantity</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @item.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.category %></td>
        <td><%= item.price %></td>
        <td><%= item.shipping %></td>
        <td><%= item.quantity %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', sell_edit_path(item), method: :put %></td>
        <td><%= link_to 'Destroy', sell_delete_path(item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
