<div class= "text-center">
<img src="http://res.cloudinary.com/dwsqw6mhk/image/upload/v1525951688/coinbay_logo.png" alt="logo">
<br/>
<h3>Register</h3>
<br/>
</div>
<div class= "text-center">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
      <%= f.submit "Register", class: "btn btn-primary" %>
    </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
