<%= render "shared/user_cp_nav" %>
<br/>
<strong>
<div>
<p>Welcome to your CoinBay dashboard, to start selling please follow the steps below.

<ol>
  <li>
    Please visit this link to generate an <a href="https://www.klukt.com/#getapikey" target="_blank">API Key</a>, CoinBay uses Klukt to process Bitcoin payments.
  </li>
  <li>
    Please enter your Extended Public Key of your BTC wallet, this allows the system to direct payments to your wallet when your items are sold.
  </li>
  <li>
    Ignore the Company IPN URL, enter your email address for the Company Email and Company Name, click generate APIKEY and save it in the field below.
  </li>
</ol>
<p> Please note, this key allows incoming payments to your wallet as a feature, payments cannot be made from it so it is not sensitive in nature.
<br/>
<br/>

<% if @apikey == nil %>
  <h4><%= "Please set your Seller's API Key:" %></h4>
  <%= form_with url: '/ucps/save_api' do |f| %>
              <p><%= f.text_field :apikey %></p>
                    <p><%= f.submit "Save API Key", class: "btn btn-primary" %></p>
  <% end %>
  <% else %>
    <%= "Your currently set Seller's API Key: #{@apikey}" %>
<% end %>
</div>
</strong>
