<br/>
<%= render "shared/user_cp_nav" %>
<br/>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Price</th>
      <th>Shipping</th>
      <th>Quantity</th>
      <th>Seller</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <% if current_user == item.user %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.description %></td>
          <td><%= item.category.name %></td>
          <td><%= item.price %></td>
          <td><%= item.shipping.name %></td>
          <td><%= item.quantity %></td>
          <td><%= item.user.email%></td>
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <td><%= link_to 'Delist', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% else %>
        <td><%= "You have no items listed." %></td>
        <% break %>
        <% end %>


    <% end %>
  </tbody>
</table>
