<div class="container">
<%= render "shared/user_cp_nav" %>
<hr/>
<br/>
<strong>
      <% if !@items.empty? then @items.each do |item| %>
      <div style="
      background-color: rgba(255, 255, 255, 0.5);
      padding: 10px;
      border-radius: 25px;">
        <% if item.image.url != nil %>
        <%= image_tag item.image.url(:thumb) %>
        <% else %>
        <% end %>
        <div style="display:inline-block; vertical-align: middle;">
        <p>Name: <%= item.name %><p>
        <p>Description: <%= item.description %><p>
        <p>Category: <%= item.category.name %><p>
        <p>Price: <%= item.price %><p>
        <p>Shipping: <%= item.shipping.name %><p>
        <p>Quantity: <%= item.quantity %><p>
        <p>Seller: <%= item.user.email %><p>
        </div>
        </div>
        <br/>
        <%= link_to 'Edit', edit_item_path(item), class: "btn btn-primary" %>
        <%= link_to 'Delist', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
        <hr/>

      <% end else %>
        <td><%= "You have no items listed." %></td>
      <% end %>

</strong>
</div>
