<div class="container">
<%= render "shared/user_cp_nav" %>

<br/>
<strong>
<table class ="table table-dark">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Price</th>
      <th>Shipping</th>
      <th>Quantity</th>
      <th>Seller</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <% if !@items.empty? then @items.each do |item| %>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.category.name %></td>
        <td><%= item.price %></td>
        <td><%= item.shipping.name %></td>
        <td><%= item.quantity %></td>
        <td><%= item.user.email%></td>
        <td><%= link_to 'Edit', edit_item_path(item), class: "btn btn-primary" %></td>
        <td><%= link_to 'Delist', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
    <% end else %>
        <td><%= "You have no items listed." %></td>
    <% end %>
    </tr>
  </tbody>
</table>
</strong>
</div>
