<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div id="nav-bar">
  <h1>CoinBay</h1>
  <strong><%= "BTCUSD: $#{$btc[0..-7]}" %></strong>
  <strong><%= current_user.email %></strong>
  <%= link_to "Marketplace", items_path, class: "btn btn-primary" %>
  <%= link_to "Control Panel", ucps_dashboard_path, class: "btn btn-primary" %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
  <hr/>
</div>
</nav>
</div>
