
<div class= "text-center">
<img src="http://res.cloudinary.com/dwsqw6mhk/image/upload/v1525951688/coinbay_logo.png" alt="logo">
<br/>
<h3>Logon</h3>
<br/>
</div>
<div class= "text-center">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-group") do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary" %>

  </div>
<% end %>
</div>
  <%= render "devise/shared/links" %>
