<div class="panel panel-default">
<div class="panel-body">
  <form class="form-inline">
    <div for="search" class="form-group">
      <input  type="text" placeholder= "Yarr! What ye be lookin' fer?" name="search"  class="form-control">
      <input type="submit" value="Search" class="btn btn-primary">
      <%= link_to "Clear Filter", "items#index", class: "btn btn-primary"%>
    </div>

  </form>
</div>
</div>
<hr/>

<table>
  <tbody>
    <% @items.each do |item| %>
    <div>
      <tr>
        <td>
          <% if item.image.url != nil %>
            <%= image_tag item.image.url(:thumb) %>
          <% else %>
          <% end %>
          <%= link_to item.name, item %>
          <%="Price: $#{item.price}USD (BTC:#{sprintf("%.8f", 1 / $btc.to_f * item.price)})" %>
          <%= "Shipping: #{item.shipping.name}" %>
          <%= "Quantity Left: #{item.quantity}" %>
          <a href="mailto:<%= item.user.email %>"><%= "Seller: #{item.user.email}" %></a>
          <hr/>
        </td>
      </tr>
    </div>

  <% end %>
  </tbody>
</table>

<br>
