<div class="container">
<div class="pull-left" style="background:transparent">
  <form class="form-inline">
    <div for="search" class="form-group" >
      <input  type="text" placeholder= "What ye be lookin' fer?" name="search"  class="form-control">
      <input type="submit" value="Search" class="btn btn-primary">
      <%= link_to "Clear Filter", "items#index", class: "btn btn-primary"%>
    </div>
 </form>
 <hr/>

</div>
</div>
 <br/>

<strong>
<div class="container">

    <% @items.each do |item| %>
    <div>
          <div style="
          background-color: rgba(255, 255, 255, 0.5);
          padding: 10px;
          border-radius: 25px;">
          <% if item.image.url != nil %>
          <%= image_tag item.image.url(:thumb) %>
          <% else %>
          <% end %>
        <div style="display:inline-block; vertical-align: middle;">
          <p><%= link_to item.name, item %></p>
          <p><%="Price: $#{item.price}USD (BTC:#{sprintf("%.8f", 1 / $btc.to_f * item.price)})" %></p>
          <p><%= "Shipping: #{item.shipping.name}" %></p>
          <p><%= "Quantity Left: #{item.quantity}" %></p>
          <p><a href="mailto:<%= item.user.email %>"><%= "Seller: #{item.user.email}" %></a></p>
        </div>
        </div>
          <hr/>
    </div>

  <% end %>
</div>
</strong>
<br>
