<p>
<% if @item.image.url != nil %>
  <%= image_tag @item.image.url(:thumb) %>
<% else %>
<% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= "$#{@item.price}USD (BTC:#{sprintf("%.8f", 1 / $btc.to_f * @item.price)})" %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @item.shipping.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @item.user.email %>
</p>


<%= link_to 'Back', items_path %>
