<div class="container">
<div style="
background-color: rgba(255, 255, 255, 0.5);
padding: 10px;
border-radius: 25px;">
<p>
<% if @item.image.url != nil %>
  <%= image_tag @item.image.url(:thumb) %>
<% else %>
<% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= "$#{@item.price}USD (BTC:#{sprintf("%.8f", 1 / $btc.to_f * @item.price)})" %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @item.shipping.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @item.user.email %>
</p>
</div>
<br/>
<%= link_to 'Buy', "https://klukt.com/payment.html?company=#{@item.user.email}&apikey=#{Api.find(@item.user.api_id).apikey}&item=#{@item.name}&id=1&curr=USD&amount=#{@item.price}&url=http://localhost:3000/ucps/buy_success&email=ask&name=ask&Deliver_Address=ask", class: "btn btn-primary" %>
<%= link_to 'Back', items_path, class: "btn btn-primary"  %>
</div>
