<!DOCTYPE html>
<html>
  <head>
    <title>CoinBay - A BitCoin only marketplace.</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render "shared/nav" %>
    <%else%>
    <%end%>
    <%= yield %>

  </body>
  <footer>
  </div class:"align-text-bottom">
      <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  </div>
  </footer>
</html>
