<!DOCTYPE html>
<html>
  <head>
    <title>CoinBay - A BitCoin only marketplace.</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body style="display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    >
      <%= yield %>
      <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  </body>
</html>
